
 <h2>CK5Editor integration with PDF output </h2>
<p>
	<button (click)="toggleDisableEditors()">{{ isReadOnly ? 'Enable editor' : 'Disable editor' }}</button>
</p>
<div class="section">
	<h3 style="font-weight:bold">Select a template</h3>
	<select (change)="onChangeTemplate($event.target.value)">
    <option>Select</option>
      <option *ngFor="let item of this.dataList; " [value]="item.code">
        {{item.name}}
      </option>
    </select>
</div>
<p></p>
<div> <button  (click)="downloadAsPDF()">Export To PDF</button></div>
<p></p>

<div class="document-editor">
  <div class="document-editor__toolbar"></div>
  <div id="pdfArea" #pdfArea>
    <div class="document-editor__editable">
      <div class="document-editor__editable-container">
          <ckeditor
            [editor]="Editor"
            id="decoupled-editor"
            name="decoupled-editor"
            [disabled]="isReadOnly"
            [config]="editorConfig" 
            [(ngModel)]="model.data"
            (ready)="onReady($event)"
            (change)="onChange($event)"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)">
          </ckeditor>
      </div>
    </div>
  </div>
</div>

<h4>Component events:</h4>
<ul>
	<li *ngFor="let eventInfo of componentEvents">
		<span>{{ eventInfo }}</span>
	</li>
</ul>
